{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto">
        
        <h1 class="mt-5 mb-3 text-center">Please sign in</h1>
        <p class="text-muted text-center mb-5">Your pins are waiting form you.</p>
        <form method="post">

            {% if error %}
                <div class="alert alert-danger rounded mb-3" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="email" class="form-control" required autofocus>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html
            #}
            <div class="d-flex justify-content-between mb-3 mt-3">
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" id="remeberme" type="checkbox" name="_remember_me">
                        <label class="form-check-label" for="remeberme">Remember me</label> 
                    </div>
                </div>
                <a href="{{path('app_forgot_password_request')}}">Forgot your password ?</a>
            </div>

            <button class="btn btn-block btn-lg btn-primary" type="submit">
                Sign in
            </button>
        </form>
        <p class="mt-5 mb-3 text-center text-muted">Not registered yet ? <a href="{{ path('app_register') }}">Create an account</a></p>
    </div>
</div>
{% endblock %}
